@media (min-width: 992px) {
    section {
        box-sizing: border-box;
        float: left;
        width: 31.33333%;
    }
    body {
        background-color: white;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section {
        box-sizing: border-box;
        float: left;
        width: 48%;
    }
    #section4 {
        box-sizing: border-box;
        float: center;
        width: 98%;
        
    }
    body {
        background-color: white;
    }
}

@media  (max-width: 767px) {
    section {
        box-sizing: border-box;
        float: left;
        width: 99%;
    }
    body {
        background-color: white;
    }
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
   
}

section {
    text-align:justify;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: large;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    float: left;
    margin: 1%;

}


#section1 {
    background-color: chartreuse;
    font-weight:bold;
}

#section2 {
    background-color:  magenta;
    color:  white;
    font-weight:bold;
}

#section3 {
    background-color: aquamarine;
    font-weight:bold;
}

section h2 {
    box-sizing: border-box;
    width:fit-content;
    padding-inline: 10px;
    position: relative;
    margin-top: 0;
    float: right;
    top: 0px;
}

p { 
    box-sizing: border-box;
    margin-top: 47px;
    padding: 2%;
}

h2 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}